{{template "admin" .}}

{{define "title"}}
<title>New Service</title>
{{end}}

{{define "content"}}

{{$service := index .Data "current_service"}}

<div class="main-panel">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="text-center">Add New Service</h4>
        <hr class="dashed-hr">
        <form action="/private/admin/service/add-new" method="post" enctype="multipart/form-data" class="forms-sample" novalidate>
          <input type="hidden" id="csrf_token" name="csrf_token" value={{.CSRFToken}} >
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label class="mr-4" for="seleced_category">Category</label>
                    <select  id="seleced_category" class="form-control bg-dark text-white {{with .Form.Err.Get "seleced_category"}} is-invalid {{end}}"  name="seleced_category" required>
                      <option value="0" disabled selected>Select an option</option>
                        {{range .CategoryMain}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    {{with .Form.Err.Get "seleced_category"}}
                      <label class="text-info">{{.}}</label>
                    {{end}}                 
                  </div>
                  <div class="col">
                    <label class="mr-4" for="seleced_sub_category">Sub Category</label>
                    <select  id="seleced_sub_category" class="form-control bg-dark text-white {{with .Form.Err.Get "seleced_sub_category"}} is-invalid {{end}}"  name="seleced_sub_category" required>
                      <option value="0" disabled selected>Select an option</option>
                        {{range .CategorySub}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    {{with .Form.Err.Get "seleced_sub_category"}}
                      <label class="text-info">{{.}}</label>
                    {{end}}                 
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="mr-4" for="division">Division</label>
                    <select  id="division" class="form-control bg-dark text-white {{with .Form.Err.Get "division"}} is-invalid {{end}}"  name="division" required>
                      <option value="0" disabled selected>Select an option</option>
                        {{range .CategoryMain}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    {{with .Form.Err.Get "division"}}
                      <label class="text-info">{{.}}</label>
                    {{end}}
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="district">District</label>
                    <select  id="district" class="form-control bg-dark text-white {{with .Form.Err.Get "district"}} is-invalid {{end}}"  name="district" required>
                      <option value="0" disabled selected>Select an option</option>
                        {{range .CategoryMain}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    {{with .Form.Err.Get "district"}}
                      <label class="text-info">{{.}}</label>
                    {{end}}
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="city">City</label>
                    <select  id="city" class="form-control bg-dark text-white {{with .Form.Err.Get "city"}} is-invalid {{end}}"  name="city" required>
                      <option value="0" disabled selected>Select an option</option>
                        {{range .CategoryMain}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    {{with .Form.Err.Get "city"}}
                      <label class="text-info">{{.}}</label>
                    {{end}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="service_name">Service Name</label>
            {{with .Form.Err.Get "service_name"}}
              <label class="text-info">{{.}}</label>
            {{end}}
            <input type="text" class="form-control {{with .Form.Err.Get "service_name"}} is-invalid {{end}}" id="service_name" name="service_name" placeholder="Service Name" required />
          </div>
          <div class="form-group">
            <label for="minimum_charge">Minimum Charge</label>
            {{with .Form.Err.Get "minimum_charge"}}
              <label class="text-info">{{.}}</label>
            {{end}}
            <input type="text" class="form-control {{with .Form.Err.Get "minimum_charge"}} is-invalid {{end}}" id="minimum_charge" name="minimum_charge" {{if (eq $service.MinimumCharge "") }} placeholder="BDT" {{else}} value ="{{$service.MinimumCharge}}" {{end}} required/>
          </div>
          <div class="form-group">
            <label for="service_description">Description</label>
            {{with .Form.Err.Get "service_description"}}
              <label class="text-info">{{.}}</label>
            {{end}}
            <textarea
              class="form-control {{with .Form.Err.Get "service_description"}} is-invalid {{end}}" id="service_description" name="service_description"
              rows="10"
            required></textarea>
          </div>
          <div class="form-group">
            <label for="service_thumbnail" class="mr-4">Thumbnail</label>
            {{with .Form.Err.Get "service_thumbnail"}}
              <label class="text-info">{{.}}</label>
            {{end}}
            <input type="file" class="form-control {{with .Form.Err.Get "service_thumbnail"}} is-invalid {{end}}" id="service_thumbnail" name="service_thumbnail" required />
          </div> 
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mr-2"> Submit </button>
            <a href="/private/admin/dashboard" class="btn btn-warning">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{{end}}